body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.clock div {
  font-size: 2em;
  margin-bottom: 10px;
}

.set-time button, .pause button {
  margin: 5px;
}

.player-label {
  font-size: 1.2em;
  margin-bottom: 10px;
}
