.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.clock-container {
  display: flex;
  justify-content: space-between; /* Изменили расположение элементов на противоположные стороны */
  width: 100%;
  margin-bottom: 20px;
}

.clock {
  text-align: center;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.timer {
  font-size: 3rem;
  margin-bottom: 10px;
}

.turn-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.turn-button:hover {
  background-color: #0056b3;
}

.set-time {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.time-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0 10px; /* Добавлено небольшое расстояние между кнопками */
}

.time-button:hover {
  background-color: #218838;
}

.pause {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pause-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pause-button:hover {
  background-color: #c82333;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.start-button {
  background-color: #218838; /* Dark green background color */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 10px; /* Adjust margin if needed */
}

.start-button:hover {
  background-color: #1e7e34; /* Darker shade on hover */
}


/* Disable style for disabled buttons */
/*.turn-button:disabled,
.pause-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

